.search__input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.search__input-role{
    position: relative;
    width: 380px;
    background-color: #ffffff;
    border-radius: 8px;
}
.search__input-name{
    color: #000;
    padding: 9px 0px 9px 40px;
    font-size: 20px;
}
.search__input-name:hover{
    cursor: pointer;
}
.search__role-popup{
    left: 15px;
    top: 32px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 0px 0px 8px 8px;
    cursor: pointer;
}
.search__input-role__arrow{
    position: absolute;
    right: 16px;
    top: 12px;
}
.search__role-popup__point{
    color: #000;
    padding: 9px 50px 9px 10px;
    border-bottom: 1px solid #000;
}
.search__input-quest__block {
    width: 321px;
    background-color: #ffffff;
    border-radius: 8px 0px 0px 8px;
    margin-right: 8px;
    overflow: hidden;
}
.search__input-quest{
    display: flex;
}
.search__input-quest__value{
    width: 100%;
    height: 40px;
    color: #000;
    padding-left: 40px;
    font-size: 20px;
}
.search__input-quest__svg{
    width: 40px;
    height: 40px;
    background-color: #FFA500;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
.search__input-quest__svg:hover{
    cursor: pointer;
    background-color: #FFC355;
}
.search__cards{
    display: grid;
    grid-template-columns: 380px 380px;
    grid-template-rows: 250px 250px;
   row-gap: 50px;
   column-gap: 100px;
}
.search__cards-card{
    border-radius: 8px;
    background-color: #6C8CD5;
    padding: 18px 18px 10px 18px;
    transition: all 0.2s ease-in-out;
}
.search__cards-card:hover{
    cursor: pointer;
    background-color: #89A2DB;
}
.search__card-title{
    text-align: center;
    font-size: 22px;
    margin-bottom: 18px;
}
.search__card-description{
    font-size: 16px;
    text-align: center;
}
.nothing_date{
    font-size: 30px;
    text-align: center;
}